<h1>
<%if(username){%>
  Username: <%=users[username].email%>
  <form method="GET" action="/logout">
    <input type="submit" value="logout">
  </form>
<%} else {%>
  <a href="/register">Register!</a>
  <a href="/login">Login</a>
<%}%>
</h1>