<h2>
<%if(user_ID){%>
  Username: <%=users[user_ID].email%>
  <form method="GET" action="/logout">
    <input type="submit" value="logout">
  </form>
<%} else {%>
  <a href="/register">Register!</a>
  <a href="/login">Login</a>
<%}%>
</h2>