<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_headers %>
</head>
<body>
  <a href="/urls/new"> Add a new shortened URL </a>
  <ul style="list-style-type:none">
    <% for (var a in urls) { %>
    <li>
      <%=a%>: <%= urls[a].url %>  ----->
        <form method="POST" action="/urls/<%= a %>/delete" style='display:inline;'>
         <button name="button">DELETE</button>

        </form>
        <form method="GET" action="/urls/<%= a %>" style='display:inline;'>
          <button name="button"> Edit </button>
        </form>
    </li>
    <% } %>
  </ul>
</body>
</html>