<html lang="en">
<head>
  <% include partials/_headers %>
</head>
<body>
  <h>TinyApp:  <%= shortUrls %></h>
  <ul>
    <li>
      <form method="POST" action="/urls/<%= shortUrls %>/?_method=PUT" >
        <label for="longURL"> <%= fullUrl %> </label>
        <input id="longURL" type="text" name="longURL" placeholder="<%= fullUrl %>">
        <button name="button">UPDATE</button>
      </form>
    </li>
  </ul>
</body>
</html>